.awards {
  background-color: #122947;
  color: #fff;
  text-align: center;
}
.awards .heading {
  display: flex;
  flex-direction: column-reverse;
}
.awards .heading p {
  color: #27ae60;
}
.awards .heading h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
.awards .icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4% 50%;
  font-size: 32px;
  color: #ffffff;
}
.awards h1 {
  font-size: 50px;
}
.awards p {
  color: grey;
}


/* .countdown {
  display: flex;
} */

.awards .container {
  display: flex;
  
  justify-content:space-between; /* Spread the countdowns evenly */
  flex-wrap: wrap; /* Allow wrapping if the screen is small */
}

.countdown, .countdown2 {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 45%; /* Each countdown will take about half the width */
}

/* .time {
  text-align: center;
  padding: 10px;
} */


/* .countdown .time {
  background-color: yellow;
  color: black;
  font-weight: bold;
  margin: 0 15px;
} */

/* .countdown .time div {
  width: 150px;
  height: 100px;
  background-color: #222;
  display: grid;
  place-items: center;
  color: white;
  font-size: 36px;
} */

 .time{
  font-weight: bold;
  font-size: 2rem;
  margin: 0 15px;

 

}

 .time{
  font-weight: bold;
  font-size: 2rem;
  margin: 0 15px;

 

}


p {
  margin: 6px;
}
